@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .form-label {
        @apply text-sm font-semibold;
    }
    .ring-on-focus {
        @apply focus:outline-none focus-visible:ring focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-800;
    }

    .ring-on-checkbox:focus-within .checkbox {
        @apply ring ring-gray-500 ring-offset-2 ring-offset-gray-800;
    }

    /* iOS Safe Padding - because Apple wanted to design that stupid notch...
    /* More info: https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
    .ios-padding {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
    .ios-padding-top {
        padding-top: env(safe-area-inset-top);
    }
    .ios-padding-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }
    .ios-padding-left {
        padding-left: env(safe-area-inset-left);
    }
    .ios-padding-right {
        padding-right: env(safe-area-inset-right);
    }
    .ios-padding-y {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
    .ios-padding-x {
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
}
